.componentWrapper {
  background: white;
  padding: 25px;
  border-radius: 25px;

  .header {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 10px;

    .title {
      font-weight: 500;
    }
    a {
      background: #e75470;
      border: none;
      outline: none;
      padding: 0.6rem 1.2rem;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      transition: background 0.2s ease;
      text-decoration: none;

      &:hover {
        background: #d74361;
      }
    }
  }

  .tableContainer {
  }

  .tableFooterText {
    font-size: 12px;
    padding: 20px 0 0 0;
    text-align: center;
  }
}
